@model Labolatorium_1.Models.Reservation

<h2>Szczegóły rezerwacji</h2>

<p>Miasto: @Model.City</p>
<p>Adres: @Model.Address</p>
<p>Pokój: @Model.Room</p>
<p>Właściciel: @Model.Owner</p>
<p>Data: @Model.Date</p>
<p>Cena: @Model.Price</p>

<a asp-action="Index">Powrót</a>