@model Labolatorium_1.Models.Reservation

<h2>Rezerwacja</h2>

<p>@Model.City</p>
<p>@Model.Address</p>
<p>@Model.Room</p>
<p>@Model.Owner</p>
<p>@Model.Date.ToShortDateString()</p>
<p>@Model.Price</p>